/* 
* element UI 覆写样式
*/

.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  height: 50px !important;
  padding: 9px 16px !important;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: left;
  // line-height: 200px;
  max-width: 200px !important;
  overflow: hidden;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  // line-height: 160px;
  padding: 8px !important;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.el-container {
  height: 100%;
}