@import './variable.styl'
/* 
* element UI 覆写样式
*/

.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  height: 50px !important;
  padding: 9px 16px !important;
}

.el-aside {
  color: #333;
  background-color: $color-bg-dark;
  text-align: left;
  // line-height: 200px;
  max-width: 200px !important;
  min-height: 100%;
} 

.el-main {
  background-color: $color-bg-dark;;
  color: #333;
  text-align: center;
  // line-height: 160px;
  padding: 8px 8px 8px 0px !important;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.el-container {
  height: 100%;
}