/* 
* 公共样式变量
*/
// white and black
$color-white = #fff
$color-black = #000

// 主色
$color-primary = #2268FA
$color-secondary = #FAB723

// 主色衍生
// $color-common

// 功能色
$color-success = #7EC23A
$color-warning = #FECA00
$color-danger = #F56C6C
$color-disabled = #8F9399 

// 中性色
/* text color */
/* border color */
/* background color table*/
/* background color table*/
/* background color table*/
$color-bg-dark = #2b324e
$color-bg-middle = #454b6d

$color-bg-light-0 = #f2f2f2
$color-bg-light-1 = #f2f2f2